# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# venv (uv)
.venv/

# env-секреты
.env
*.env

# IDE
.vscode/
.idea/

# Docker volume данные, если вдруг локально
mongo_data/

celerybeat-schedule*celerybeat-schedule*
buffer.jsonl
